.main-table {
    text-align: center;
    width: 50%;
    min-width: 700px;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
}

.table-cell {
    display: inline-block;
    margin: 20px;
}

.table-header {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.table-cell-success {
    background-color: rgb(86, 204, 157);
    border-color: rgb(167, 228, 204);
    color: rgb(255, 255, 255);
}

.table-cell-danger {
    background-color: rgb(255, 120, 81);
    border-color: rgb(255, 185, 165);
    color: rgb(255, 255, 255);
}
