.add-row-btn {
    width: 230px;
    align-self: center;

    /* TODO FIX WHEN LOW WIDTH */
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 16px;
}

.delete-row-btn {
    width: 130px;
}

.delete-row-td {
    padding: 0px;
    width: 130px;
}

.btn-container {
    position: relative;
}
