.add-row-btn {
    width: 230px;
    align-self: center;

    /* TODO FIX WHEN LOW WIDTH */
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 16px;
}

.delete-row-btn {
    width: 130px;
}

.delete-row-td {
    padding: 0;
    width: 130px;
}

.btn-container {
    position: relative;
}

.table-1 {
    margin: 1% 0;
}

.headers {
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;

    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.05);

    padding: 8px 15px;
}

.header {
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    width: 180px;

    font-size: 16px;
    font-weight: 700;
}

.content {

}

.row-1 {
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-collapse: collapse;

    padding: 5px 15px;
}

.cell {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    width: 180px;
}

.table-container {

}
